html,
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #9caf88;
  padding: 30px;
  align-items: center;
}

.name {
  color: #ffffff;
}

.menu {
  text-align: right;
}

.menu-alternative {
  color: #ffffff;
  margin: 20px;
  text-decoration: none;
}

.menu-alternative:hover {
  text-decoration: underline;
}

footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-end;
  background-color: #9caf88;
  padding: 30px;
  color: #ffffff;
  font-size: 10pt;
}

.created {
  text-align: right;
}
