main {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

.back {
  text-decoration: none;
  color: #000000;
}

.back:hover {
  text-decoration: underline;
}

.photography1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.photography2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.photography3 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.photography4 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.photography5 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.photography6 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.photography7 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.photography8 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.photography9 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.photography {
  object-fit: contain;
  width: 100%;
  border-radius: 10px;
}

.photography:hover {
  fill: #ffffff;
}
